body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/tlo2.png");
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
}

#container
{
	background-color: white;
	width: 100%;
	min-height: 900px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(153,153,153,1);
	box-shadow: 0px 0px 20px 0px rgba(153,153,153,1);
	background-color: #4d4d4d;
	background-image: url("img/tlo.png");
	background-blend-mode: screen;
}

#left_bar
{
	width: 12%;
	height: 100%;
	float: left;
	background-color: #4d4d4d;
	background-image: url("img/tlo.png");
	background-blend-mode: screen;
	color: white;
}

#top_left_bar
{
	min-height: 95px;
	padding: 5px 5px 0px 5px;
}

#logo
{
	background-color: rgba(255, 255, 255, 0.2);
	height: 30px;
	padding: 4px 0px;
	margin-top: 2px;
	font-size: 26px;
	text-align: center;
	border-radius: 10px;
}

#namer
{
	height: 28px;
	padding-top: 26px;
	font-size:20px;
}

#user_icon
{
	float: left;
}

#log_out
{
	display: block;
	float: right;
}

#log_out > a
{
	text-decoration: none;
	color: white;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 1px;
}

#log_out > a:hover
{
	text-decoration: none;
	color: white;
	background-color: rgba(130, 184, 255, 0.6);
	border-radius: 10px;
}

#nav
{
	height: 100%;
}

.nav
{
	padding-left: 25px;
	text-transform: uppercase;
	height: 28px;
	display:block;
	margin: 0px 2px;
}

.nav:hover
{
	background-color: rgba(130, 184, 255, 0.6);
	border-radius: 10px;
}

.nav_red
{
	padding-left: 25px;
	text-transform: uppercase;
	height: 28px;
	display:block;
	margin: 0px 2px;
}

.nav_red:hover
{
	background-color: rgba(0, 204, 0, 0.6);
	border-radius: 10px;
}

.nav_border
{
	border-bottom: 2px solid;
	border-color: rgba(204, 204, 204, 0.2);
	padding: 5px 0px;
}

/*.nav:first-child
{
	height: 26px;
}*/

.nav_border:first-child
{
	height: 26px;
	border-top: 2px solid;
	border-color: rgba(204, 204, 204, 0.2);
}

a.nav_link
{
	padding-top: 5px;
	display: block;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

a.nav_link:hover
{
	display: block;
	color: white;
	text-decoration: none;
}

a.nav_link_red
{
	padding-top: 5px;
	display: block;
	color: #00cc00;
	text-decoration: none;
	font-weight: bold;
}

a.nav_link_red:hover
{
	display: block;
	color: white;
	text-decoration: none;
}

#page
{
	width: 88%;
	min-height: 890px;
	float: left;
	background-color: #eeeeee;
	padding-bottom: 10px;
}

div#search_inputs
{
	text-align: center;
	min-height: 30px;
	padding: 12px 0px;
	background-color: #dddddd;
	border-bottom: 2px solid;
	border-color: #cccccc;
}

input.search_input
{
	margin-left: 20px;
	float: left;
	width: 200px;
	background-color: #efefef;
	color: #666;
	border: 0px;
	border-radius: 5px 0px 0px 5px;
	font-size: 16px;
	padding: 5px 10px;
	box-sizing: border-box;
	outline: none;
}

input.search_input:focus
{
	/*background-color: #49B8ff;*/
	background-color: #82b8ff;
	color: #0574ff;
}

input.search_button
{
	font-family: 'fontello';
	color: #0574FF;
	border: 0px;
	border-radius: 0px 5px 5px 0px;
	float: left;
	width: 28px;
	height: 28px;
	background: #82b8ff;
	background: linear-gradient(to bottom, #82b8ff 1%,#18a5f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82b8ff', endColorstr='#18a5f2',GradientType=0 );
}

input.search_button:hover
{
	cursor: pointer;
	background: #82b8ff;
	background: linear-gradient(to top, #82b8ff 1%,#18a5f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82b8ff', endColorstr='#18a5f2',GradientType=0 );
}

#main_content
{
	height: 100%;
}

#panel_admin
{
	height: 25px;
	font-size: 24px;
	font-weight: bold;
	color: #0574FF;
	margin: 15px 0 15px 20px;
}

#panel_admin_x,#panel_admin_r
{
	height: 25px;
	font-size: 24px;
	font-weight: bold;
	color: #0574FF;
	margin: 15px 0 15px 20px;
	width: 70%;
	float:left;
}
#panel_admin_r
{
	float:right;
	width: 20%;
	margin: 0px;
	margin: 15px 15px 15px 0;
}

#panel_admin_border
{
	margin-right: 17px;
	border-bottom: 2px solid;
	border-color: #cccccc;
}

.topic
{
	min-height: 25px;
	font-size: 24px;
	font-weight: bold;
	color: #0574FF;
	margin: 15px 0 15px 20px;
}

.half_width
{
	margin-top: 10px;
	font-size: 14px;
	width: 49%;
	float: left;
}

.info_span
{
	font-size: 16px;
	font-weight: bold;
	margin-left: 20px;
	margin-bottom: 10px;
	display: block;
}

.info_span_bigger
{
	font-size: 20px;
	font-weight: bold;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	display: block;
}

.bordered_div
{
	margin-left: 20px;
	padding: 10px;
	border: 2px solid;
	border-color: #cccccc;
	border-radius: 5px;
}

#wykres_box
{
	min-height: 290px;
	margin-bottom: 10px;
	border-bottom: 2px dashed;
	border-color: #cccccc;
}

#wykres_span
{
	margin-left: 5px;
	display: block;
}

div#wykres
{
	width: 100%;
	min-height: 290px;
	margin-bottom: 5px;
}

#produkty_start
{
	margin-top: 10px;
	font-size: 14px;
}

.produkty_start
{
	margin-top: 10px;
	font-size: 14px;
}

.bordered_div_full
{
	margin-left: 20px;
	margin-right: 17px;
	padding: 10px;
	border: 2px solid;
	border-color: #cccccc;
	border-radius: 5px;
}

#buttons_div{
	margin-bottom: 10px;
}

/*Button style*/
.button{
	color: white;
	background-color: #999999;
	border: 0px;
	text-transform: uppercase;
	padding: 5px;
	border-radius: 2px;
}

.button:hover{
	background-color: #0574FF;
	cursor: pointer;
}

.red_button, .zaplataBN{
	color: white;
	background-color: #ff0000;
	border: 0px;
	text-transform: uppercase;
	padding: 5px;
	border-radius: 2px;
}

.red_button:hover{
	background-color: white;
	color: #ff0000;
	cursor: pointer;
}

.button_green, .zaplataB{
	color: white;
	background-color: #00cc00;
	border: 0px;
	text-transform: uppercase;
	padding: 5px;
	border-radius: 2px;
}

.button_green:hover{
	background-color: #0574FF;
	cursor: pointer;
}

.button_clicked{
	color: white;
	background-color: #0574FF;
	border: 0px;
	text-transform: uppercase;
	padding: 5px;
	border-radius: 2px;
}

/*Tu są style do dane_zamowienie.php*/
.bordered_div_no_padding
{
	margin-left: 20px;
	margin-right: 20px;
	border: 2px solid;
	border-color: #cccccc;
	border-radius: 5px;
}

.row{
	min-height: 30px;
	display:flex;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom:2px solid;
	border-color: #cccccc;
}

.row:last-child{
	border: 0px;
}

.row_no_border{
	min-height: 30px;
	display:flex;
	padding-top: 5px;
	padding-bottom: 5px;
}

.tx{
	width: 100%;
	color: #666;
	border: 2px solid;
	border-color: #cccccc;
	border-radius: 2px;
	font-size: 12px;
	padding: 5px 10px;
	box-sizing: border-box;
	outline: none;
	margin: 2px 0px;
}

/*.tx:focus
{
	background-color: #82b8ff;
	color: #0574ff;
	border-color: #0574ff;
}*/

.half_row{
	margin-left: 10px;
	width: 80%;
}

.half_row_right{
	margin-right: 10px;
	width: 100%;
}

.half_row2{
	margin-left: 30px;
	width: 80%;
}

.half_row_right2{
	margin-right: 30px;
	width: 100%;
}

.kontakt{
	display:flex;
}

.kontakt_h_l{
	width: 20%;
}

.areatx{
	width: 100%;
	resize: vertical;
}

.center_holder{
	padding: 20px;
	text-align: center;
}

.hr1{
	margin-left: 20px;
	width: 3%;
}

.hr2{
	margin-left: 20px;
	width: 10%;
}

.hr3{
	margin-left: 20px;
	width: 35%;
}

.hr4{
	margin-left: 20px;
	width: 5%;
}

.hr5{
	margin-left: 20px;
	width: 5%;
}

.hru1{
	text-align:center;
	width: 3%;
}

.hru2{
	text-align:center;
	width: 10%;
}

.hru3{
	text-align:center;
	width: 40%;
}

.hru4{
	text-align:center;
	width: 10%;
}

.hru5{
	text-align:center;
	width: 10%;
}

.hru6{
	text-align:center;
	width: 10%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*zamowienia_lista.php style*/

.flex_box_space{
	display: flex;
	justify-content: space-between;
}

.to_right{

}

.center_holder_no_padding{
	text-align: center;
}

.hr_z1{
	margin-left: 20px;
	width: 10%;
}

.hr_z2{
	margin-left: 20px;
	width: 7%;
}

.hr_z3{
	margin-left: 20px;
	width: 10%;
}

.hr_z4{
	margin-left: 20px;
	width: 35%;
}

.flex_box{
	display: flex;
}

.flex_box_padding{
	display: flex;
	padding: 5px 0px;
}

.margin_box_left{
	margin-left:10px;
	margin-right:30px;
}
.margin_box_right{
	margin-left:30px;
	margin-right:10px;
}

.f_z{
	width: 20%;
}

.n_z{
	width: 80%;
}

.hr_z5{
	margin-left: 20px;
	width: 8%;
}

.hr_z6{
	margin-left: 20px;
	width: 15%;
}
.hr_z7{
	margin-left: 20px;
	width: 15%;
}

/*klienci_lista.php style*/

.one_line_span{
	display: block;
}

.click_me_span{
	color: #0574FF;
	cursor: pointer;
	text-decoration: underline;
}

.red_click_me_span{
	color: red;
	cursor: pointer;
	text-decoration: underline;
}

/* hr_k uzyte w reklamacje, zwroty i klienci lista*/

.hr_k1{
	margin-left: 20px;
	width: 12%;
}

.hr_k2{
	margin-left: 20px;
	width: 30%;
}

.hr_k3{
	margin-left: 20px;
	width: 40%;
}

.hr_k4{
	margin-left: 20px;
	width: 20%;
}

.hr_k5{
	margin-left: 20px;
	width: 20%;
}

.s_d_b{
	margin:2px;
}

/*Buttony zapłaty Dominika*/
/*
.zaplataB {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
	float:right;
}
.zaplataB:hover{
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.zaplataB:active, .zaplataBN:active  {
	position:relative;
	top:1px;
}

.zaplataBN{
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	float:right;
}
.zaplataBN:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
*/

.zbnp 
{
	float:none !important;
}

#modalContainer{
	background-color:rgba(0, 0, 0, 0.3);
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000;
}

#alertBox {
	position:relative;
	width:300px;
	min-height:100px;
	margin-top:15%;
	border:1px solid #666;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:20px 30px;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 0.9em verdana,arial;
	background-color:#3073BB;
	color:#FFF;
	border-bottom:1px solid #000;
	padding:2px 0 2px 5px;
}

#alertBox p {
	font:0.7em verdana,arial;
	height:50px;
	padding-left:5px;
	margin-left:10px;
}

#closeBtn {
	display:block;
	position:relative;
	margin:5px auto;
	padding:7px;
	border:0 none;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:red;
	border-radius: 3px;
	text-decoration:none;
	float:right;
	margin-right: 10px;
}

#okBtn {
	display:block;
	position:relative;
	margin:5px auto;
	padding:7px;
	border:0 none;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:red;
	border-radius: 3px;
	text-decoration:none;
	float:left;
	margin-left: 10px;
}
/* unrelated styles */

#mContainer {
	position:relative;
	width:600px;
	margin:auto;
	padding:5px;
	border-top:2px solid #000;
	border-bottom:2px solid #000;
	font:0.7em verdana,arial;
}

#mContainer > h1 {
	margin:0;
	padding:4px;
	font:bold 1.5em verdana;
	border-bottom:1px solid #000;
}

#alertBox code {
	font-size:1.2em;
	color:#069;
}

#credits {
	position:relative;
	margin:25px auto 0px auto;
	width:350px; 
	font:0.7em verdana;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	height:90px;
	padding-top:4px;
}

#credits img {
	float:left;
	margin:5px 10px 5px 0px;
	border:1px solid #000000;
	width:80px;
	height:79px;
}

code span {
	color:green;
}

#test123
{
	height: 40px;
}

/*main_page.php style paneli*/

.mp_z1{
	width: 10%;
}

.mp_z2{
	width: 20%;
}

.mp_z3{
	width: 13%;
}

.mp_z4{
	width: 12%;
}

.mp_z5{
	width: 40%;
}

.mp_z6{
	width: 5%;
}

.text_UP{
	text-transform: uppercase;
}

/* ostatnio dodane, najczęściej oglądane i do zamówienia */

.mp_od1{
	width: 10%;
}

.mp_od2{
	width: 10%;
}

.mp_od3{
	width: 35%;
}

.mp_od4{
	width: 10%;
}

.mp_od5{
	width: 4%;
}

.mp_od6{
	width: 8%;
}

.mp_od7{
	width: 8%;
}

.mp_od8{
	width: 8%;
}

.mp_od9{
	width: 7%;
}

/* I WANT TO BE IN CENTER */

.iwtbic{
	font-weight: bold;
	color: green;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.mp_oo1{
	width: 10%;
}

.mp_oo2{
	width: 10%;
}

.mp_oo3{
	width: 35%;
}

.mp_oo4{
	width: 10%;
}

.mp_oo5{
	width: 6%;
}

.mp_oo6{
	width: 24%;
}

.mp_oo7{
	width: 5%;
}

/* zgloszenia_lista.php custom */

.zgl_list1{
	width: 12%;
}

.zgl_list2{
	width: 17%;
}

.zgl_list3{
	width: 13%;
}

.zgl_list4{
	width: 30%;
}

.zgl_list5{
	width: 12%;
}

.zgl_list6{
	width: 11%;
}

/* zgloszenie.php custom */

.avatar_box{
	width: 8%;
}

.message_box{
	width: 59%;
	margin-left: 3%;
}

/* non_bordered_div */

.n_b_d
{
	width:100%;
	margin-left: 20px;
	margin-right: 17px;
	padding: 12px;
}

/* margin_bottom_message */

.m_b_m{
	margin-bottom: 40px;
}

.message{
	font-size: 18px;
}

.user_message{
	font-size: 22px;
	font-weight: bold;
}

.upper_message_box{
	margin-bottom: 10px;
	background-color: #999999;
	color: white;
	padding: 8px;
	border-radius: 5px;
}

.relative{
	position: relative;

}

.absolute{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-100%, -50%);
	white-space: nowrap;
}

.green_span {
	color:green;
}

.margin_right{
	margin-right: 10px;
}

.margin_left{
	margin-left: 10px;
}

.center_form{
	margin-top: 8px;
}

/* dane_klienta.php custom */

.zgl_k1{
	width: 5%;
}

.zgl_k2{
	width: 15%;
}

.zgl_k3{
	width: 43%;
}

.zgl_k4{
	width: 20%;
}

.zgl_k5{
	width: 17%;
}

.kd1{
	margin-left: 1%;
	width: 12%;
}

.kd2{
	margin-left: 1%;
	width: 30%;
}

.kd3{
	margin-left: 1%;
	width: 40%;
}

.kd4{
	margin-left: 1%;
	width: 20%;
}

.kd5{
	margin-left: 1%;
	margin-right: 1%;
	width: 20%;
}

/* platnosc_lista.php custom*/

.platnosc_div{
	width: 50%;
}

.p1{
	margin-left: 1%;
	width: 25%;
}

.p2{
	margin-left: 1%;
	width: 30%;
}

.p3{
	margin-left: 1%;
	width: 25%;
}

.p4{
	margin-left: 1%;
	margin-right: 1%;
	width: 20%;
}

.dostawa_div{
	width: 60%;
}

.d1{
	margin-left: 1%;
	width: 15%;
}

.d2{
	margin-left: 1%;
	width: 25%;
}

.d3{
	margin-left: 1%;
	width: 35%;
}

.d4{
	margin-left: 1%;
	width: 20%;
}

.d5{
	margin-left: 1%;
	margin-right: 1%;
	width: 20%;
}

.dp1{
	width: 10%;
}

.dp2{
	width: 10%;
}

.dp3{
	width: 35%;
}

.dp4{
	width: 8%;
}

.dp5{
	width: 10%;
}

.dp6{
	width: 10%;
}

.dp7{
	width: 17%;
}
